# تجاهل ملف المفاتيح السرية (أهم سطر لحمايتك)
.env

# تجاهل مجلد البيئة الافتراضية بالكامل
bin/
lib/
include/
share/
pyvenv.cfg

# تجاهل ملفات بايثون المؤقتة التي ينتجها النظام تلقائياً
**/__pycache__/
*.pyc
*.pyo
*.pyd

# تجاهل ملفات النظام الخفية (لو كنت تستخدم ماك أو ويندوز أحياناً)
.DS_Store
Thumbs.db

